/* main at-rules */
/* main fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap'); 

/* Start General styles (default tags) */
body {
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 400;
}

button {
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 400;
}

input::placeholder {
    font-family: "Montserrat";
    font-size: 1em;
    font-weight: 400;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}
/* End General styles (default tags) */

/* Start General custom styles */
.button-1 {
    text-transform: uppercase;
    background-color: white;
    padding: 1.15em 1.94em;
    border-radius: 4.8em;
    text-align: center;
    border-width: 0;
    transition: 0.3s;
}

.button-1-blue {
    background-color: #7AE5FD;
}

.button-1-blue:hover {
    background-color: black;
    color: white;
}

.button-1-white {
    background-color: white;
}

.button-1-white:hover {
    background-color: #ffff0e;
}

.input-1 {
    background-color: #F9FADF;
    padding: 1.15em 1.94em;
    border-radius: 4.8em;
    /* text-align: center; */
    border-width: 0;
}
/* End General custom styles */

/* Start Header styles */
.header-container {
    z-index: 5;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 2.2em 3.94em;
    justify-content: space-between;
    /* height: 5em; */
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;  
}

.logo {
    width: 5em;
    height: auto;
}

.menu-list {
   display: flex;
   align-items: center;
}

.menu-item {
    margin-left: 0.15em;
    /* margin-left: 3.1em; */
    font-size: 1.25em;
}

.main-menu-button {
    /* margin-left: 1.3em; */
}

.secondary-menu-button {
    text-transform: none;
    /* margin-left: 2.3em; */
}

.secondary-menu-button:hover {
    background-color: black;
    color: white;
}
/* End Header styles */


/* Start First screen styles */
.first-screen {
    background-image: url('../textures/first-screen.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.20em;
    margin-top: 9.5rem;
}

.first-screen-container {
    width: 50%;
    padding-left: 5vw;
}

.main-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 4.06em;
    color: white;
    line-height: 0.95;
}

.main-description {
    margin: 2rem 0;
    font-size: 1.33em;
}

.main-button {
    font-size: 1.25rem;
}
/* End First screen styles */


/* Start First screen styles */
.description-screen {
    padding: 0 4.43em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-title-container {
    padding: 10em 4.43em;
    text-align: center;
}

.description-main-title {
    text-transform: uppercase;
    font-size: 4.0em;
}

.description-secondary-title {
    margin-top: 1.2rem;
    font-size: 1.55em;
}

.description-title-text {
    margin-top: 0.9rem;
    font-size: 1.20em;
    color: #73A6B1;
}

.description-block {
    background-color: #F1FDFF;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    padding: 2.5em 3.5em;
    justify-content: space-between;
    box-sizing: border-box;  
    margin-bottom: 3em; 
}

.description-block-description {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-header {
    text-transform: uppercase;
    /* font-size: 2.9vw; */
    font-size: 3.0em;
}

.description-text {
    /* font-size: 1.1vw; */
    font-size: 1.2em;
    margin-top: 0.9rem;
    line-height: 1.25;
}

.description-image {
    width: 50%;
    object-fit: cover;
    border-radius: 0.5em;
}

.description-footer-button {
    margin: 0.8em 0 5em 0;
}
/* End First screen styles */


/* Start Additional screen styles */
.additional-screen {
    width: 100%;
    height: 100vh;
    /* /* padding: 0 4.43em; */
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    padding: 0 4.43em;
    box-sizing: border-box;  
}

.additional-container {
    background-color: #F1FDFF;
    width: 100%;
    height: 30vh;
    position: relative;
    display: flex; 
    flex-direction: row;
    padding: 2.5em 3.5em;
    justify-content: space-between;
    box-sizing: border-box;  
}

.additional-container-text {
    font-size: 1.2em;
    margin-top: 0.9rem;
    line-height: 1.25;
}

.additional-container-image {
    width: 50%;
    object-fit: cover;
    border-radius: 0.5em;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.additional-container-image-vector {
    width: 52%;
    object-fit: cover;
    border-radius: 0.5em;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.additional-container-description {
    width: 55%;
    display: flex;
    flex-direction: column;
}
/* End Additional screen styles */


/* Start Donation screen styles */
.donation-screen {
    text-align: center;
}

.donation-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.donation-header {
    text-transform: uppercase;
    font-size: 3.0em;
}

.donation-subheader {
    color: #73A6B1;
    font-size: 1.2em;
    margin-top: 1.3em;
}

.donation-text {
    font-size: 1.6em;
    margin-top: 2.0em;
}

.donation-footer-button {
    margin-top: 4.5em;
    margin-bottom: 8em;
}

/* Counter styles */
.donation-counter-block {
    width: 100vw;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-variant-numeric: tabular-nums;
}

.donation-counter-block span.number {
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
}

.donation-counter-block span.separator {
    border-left: 2px solid #9AD2DE;
}

.number {
    display: flex;
}

.number .digit {
    position: relative;
    height: 1em;
}

.digit-inner {
    transition: transform 0.5s ease-in-out;
}

.number .digit.animate .digit-inner {
    transform: translateY(-100%);
}
/* Counter styles */
/* End Donation screen styles */


/* Start Footer screen styles */
.footer-screen {
    background-color: #F9FADF;
    width: 100%;
    padding-bottom: 5em;
}

.footer-container {
    padding: 4.43em 4.43em 0 4.43em;
}

.footer-container-left-side-text {
}

.footer-container-right-side-text {
    font-size: 1.2em;
    line-height: 1.25;
    margin-top: 0.3em;
    margin-bottom: 3em;
}

.footer-container-image {
    width: 50%;
    object-fit: cover;
    border-radius: 0.5em;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.footer-container-left-side {
    text-transform: uppercase;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 2.2em;
    align-items: center;
}

.footer-container-right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-container-right-side-image {
    width: 5%;
    margin-left: -0.1em;
}

.footer-phone-text {
    font-weight: 800;
}

.footer-container-right-side-block-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contacts-container {
    display: flex; 
    width: 100%;
}

.feedback-container {
    background-color: white;
    width: 100%;
    height: 60vh;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.feedback-container-image {
}

.feedback-container-image-vector {
    object-fit: cover;
    width: 40%;
}

.feedback-container-form {
    padding: 1em 0;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.feedback-container-form-title {
    font-size: 1.5em;
}

.feedback-form {
    margin-top: 2em;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.feedback-form-element {
    margin: 1em 0;
}

.feedback-form-button {
}
/* End Footer screen styles */